:root {
  --background-color1: rgb(43, 43, 43);
  --background-color2: rgb(22, 22, 22);
  --background-color3: #1a1e1f;
  --background-color4: #1a1e20;
  --text-color1: #00a3e0;
  --text-color2: #f4f4f4;
  --text-color3: #dbdbdb;
  --text-color4: #00aef3;
  --text-color5: #ffffff;
  --hyperlink-color: #00aeef;
  --border-color: #555555;
  --hover1: rgb(170, 170, 170);
  --dot-color: #e8e6e6;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
}

a {
  text-decoration: none;
}

body {
  background-color: var(--background-color1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 85px;
}

.flex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* Navbar Styles Section */

.navbar {
  position: fixed;
  top: 0;
  background-color: var(--background-color3);
  width: 100%;
  height: 85px;
  z-index: 5;
  transition: all 0.3s ease;
}

.scrolled {
  background-color: var(--background-color1);
  opacity: 0.95;
}

.navbar-list {
  display: flex;
  flex-direction: row;
  gap: 20px;
  list-style: none;
  color: var(--text-color2);
  font-size: 14px;
  font-weight: 400px;
}
.navbar-list li {
  padding: 0 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.navbar-list li:hover {
  color: var(--text-color1);
  transition: 0.5s;
}

.navbar-active {
  color: var(--text-color1);
}

/* Hero Styles Section */

.hero {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("./assets/components-images/meeting.webp");
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: contain;
  background-position: center;
  height: 352px;
  width: 100%;
}

.hero-title {
  max-width: 1000px;
  width: 100%;
}

.hero-title span {
  display: flex;
  color: var(--text-color2);
  font-weight: 600;
  line-height: 67.2px;
  padding: 0 20px;
}
.hero h3 {
  font-size: 42px;
  color: var(--text-color2);
  padding: 0 20px;
}
.hero-text2 {
  font-size: 34px;
}

/* Information Styles Section */
.info {
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: left;
  max-width: 960px;
  width: 100%;
  line-height: 44.8px;
  font-size: 28px;
  color: var(--text-color2);
}
.info p {
  font-weight: 300;
  margin-bottom: 20px;
  padding: 20px 0;
}
.info a {
  text-decoration: none;
  color: var(--text-color4);
  font-size: 20px;
  /* padding: 0 20px; */
}
.info a:visited {
  color: var(--text-color4);
}
.info a:hover {
  color: var(--hover1);
}

/* Courses Styles Section */
.courses {
  background-color: var(--background-color2);
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.courses-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;
  max-width: 950px;
  margin-bottom: 50px;
}

.courses h2 {
  max-width: 1020px;
  width: 100%;
  padding: 0 30px;
  font-size: 24px;
  color: var(--text-color3);
  font-weight: 300;
  text-align: left;
  margin: 30px 0 60px 0;
}

.courses-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  max-width: 300px;
  width: 100%;
  border: 1px solid var(--border-color);
  border-radius: 6px;
}
.courses-card img {
  max-width: 300px;
  width: 100%;
  border-radius: 6px 6px 0px 0px;
}

.card-a {
  padding: 20px;
}

.card-h3 {
  font-size: 17px;
  font-weight: 200;
  color: var(--text-color2);
  padding: 20px 20px;
}
.card-p {
  font-size: 14px;
  color: var(--text-color2);
  padding: 0 20px;
  margin-bottom: 50px;
  font-weight: 300;
}
.card-a,
.card-a:visited {
  text-decoration: none;
  color: var(--hyperlink-color);
}
.card-a:hover {
  color: var(--text-color1);
}

/* Partners Section Styles */

.slideshow-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 365px;
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 1050px;
}
.mySlides img {
  max-width: 300px;
  margin: 0 20px;
  width: 100%;
}

/* Next & previous buttons */
.next {
  cursor: pointer;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 40px;
  font-weight: 100;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.prev:hover,
.next:hover {
  color: var(--hover1);
}

.prev {
  cursor: pointer;
  padding: 16px;
  color: white;
  font-size: 40px;
  font-weight: 100;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  border-radius: 3px 0 0 3px;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 5px;
  width: 5px;
  margin: 0 5px;
  background-color: var(--dot-color);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: var(--text-color3);
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 3s;
}

@keyframes fade {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}

/* Accrodion Section Styles */

.accordion-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--background-color2);
}

.accrodion-container {
  max-width: 1000px;
  width: 100%;
  margin: 50px 100px;
  padding: 20px;
}

.accrodion-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
.accrodion-title h3 {
  font-size: 24px;
  color: var(--text-color2);
  font-weight: 300;
}

.accrodion-title a {
  color: var(--text-color4);
  font-size: 20px;
}
.accrodion-title a:hover {
  color: var(--hover1);
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: var(--background-color2);
  color: var(--text-color2);
  cursor: pointer;
  padding: 25px 0;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 18px;
  transition: 0.4s;
}

.panel {
  padding: 0 18px;
  background-color: var(--background-color2);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
  border-bottom: 1px solid var(--border-color);
}

.panel.open-panel {
  max-height: 1000px;
  border-bottom: 1px solid var(--border-color);
}

.panel p {
  color: var(--text-color3);
  font-size: 14px;
  line-height: 2;
}

/* accordion arrows */

.accordion:after {
  content: "\2304";
  color: var(--text-color2);
  float: right;
}

.active-accordion:after {
  content: "\2303";
  color: var(--text-color2);
}

/* Footer Section Styles */

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
  width: 100%;
  background-color: var(--background-color4);
}

.footer-section {
  display: flex;
  justify-content: space-between;
}

.footer-section {
  width: 1000px;
}

.privacy {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.privacy p {
  color: var(--text-color3);
  font-size: 14px;
  font-weight: 100;
}

.privacy a {
  color: var(--text-color5);
  font-weight: 100;
  font-size: 14px;
  letter-spacing: 1px;
}
.privacy a:hover {
  color: var(--text-color3);
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
}

.contact button {
  background-color: var(--hyperlink-color);
  width: 162px;
  height: 39px;
  outline: none;
  border: none;
  border-radius: 7px;
  color: var(--text-color2);
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1px;
}
.contact button:hover {
  background-color: var(--hover1);
  color: var(--background-color3);
  transition: 0.5s;
  cursor: pointer;
}

/* Mobile Sidebar Navigation Styles */

/* The sidebar menu */

.sidebar {
  position: fixed;
  top: 0px;
  right: -250px;
  width: 250px;
  height: 100%;
  background-color: var(--background-color1);
  z-index: 10;
  transition: all 300ms ease-in-out;
}

.sidebar .toggle-btn {
  position: absolute;
  top: 20px;
  left: -50px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.sidebar .toggle-btn span {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--text-color2);
  transform: translateY(-50%);
  transition: 300ms ease-in-out;
}
.sidebar .toggle-btn span:nth-child(1) {
  top: 10%;
}
.sidebar .toggle-btn span:nth-child(2) {
  top: 50%;
}
.sidebar .toggle-btn span:nth-child(3) {
  top: 90%;
}

.sidebar .links a {
  display: block;
  padding: 15px 10px;
  text-decoration: none;
  color: #f5f5f5;
  cursor: pointer;
}

.sidebar .links a.active,
.sidebar .links a:hover {
  background-color: #222;
  color: #00acee;
}
.sidebar .links a i {
  display: inline-block;
  margin-right: 10px;
}

.sidebar.active {
  right: 0px;
}

.sidebar.active .toggle-btn span:nth-child(1) {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}

.sidebar.active .toggle-btn span:nth-child(2) {
  display: none;
}

.sidebar.active .toggle-btn span:nth-child(3) {
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}

/* Media Quereis */
/* Extra small devices (phones, 600px and down) */

@media only screen and (min-width: 769px) {
  .sidebar {
    visibility: hidden;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 769px) {
  .mobile {
    visibility: hidden;
  }
}

@media only screen and (max-width: 768px) {
  .navbar-list {
    display: none;
  }
  .desktop {
    visibility: hidden;
  }
  .navbar {
    justify-content: flex-start;
    padding: 20px;
  }
  .info p {
    padding: 0 20px;
    font-size: 22px;
  }
  .info a {
    padding: 0 20px;
  }

  .courses-card {
    gap: 5px;
  }
  .card-p {
    margin-bottom: 10px;
  }

  .next,
  .prev {
    display: none;
  }
  .mySlides img {
    margin: 10px 0px;
  }

  .accrodion-container {
    margin: 0;
  }

  .accrodion-title {
    display: flex;
    flex-direction: column;
  }

  .mobile {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 20px 0 20px 0;
  }
  .mobile a {
    text-decoration: none;
    color: var(--text-color4);
    font-size: 20px;
  }

  /* Hide the images by default */
  .mySlides {
    display: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 1050px;
  }
  .mySlides img {
    max-width: 300px;
    margin: 0 20px;
    width: 100%;
  }

  /* Accrodion Section Styles */

  .accordion-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--background-color2);
  }

  .accrodion-container {
    max-width: 1000px;
    width: 100%;
    margin: 50px 100px;
    padding: 20px;
  }

  .accrodion-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }
  .accrodion-title h3 {
    font-size: 24px;
    color: var(--text-color2);
    font-weight: 300;
  }

  .accrodion-title a {
    color: var(--text-color4);
    font-size: 20px;
  }
  .accrodion-title a:hover {
    color: var(--hover1);
  }

  /* Style the buttons that are used to open and close the accordion panel */
  .accordion {
    background-color: var(--background-color2);
    color: var(--text-color2);
    cursor: pointer;
    padding: 25px 0;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
    transition: 0.4s;
  }

  .panel {
    padding: 0 18px;
    background-color: var(--background-color2);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
    border-bottom: 1px solid var(--border-color); /* Move border here */
  }

  .panel.open-panel {
    max-height: 1000px; /* Ensure the panel is fully open */
    border-bottom: 1px solid var(--border-color);
  }

  .panel p {
    color: var(--text-color3);
    font-size: 14px;
    line-height: 2;
  }

  /* accordion arrows */

  .accordion:after {
    content: "\2304"; /* Unicode character for "plus" sign (+) */
    color: var(--text-color2);
    float: right;
  }

  .active-accordion:after {
    content: "\2303"; /* Unicode character for "minus" sign (-) */
    color: var(--text-color2);
  }

  /* Mobile Sidebar Navigation Styles */

  /* The sidebar menu */

  .sidebar {
    position: fixed;
    top: 0px;
    right: -250px;
    width: 250px;
    height: 100%;
    background-color: var(--background-color1);
    z-index: 10;
    transition: all 300ms ease-in-out;
  }

  .sidebar .toggle-btn {
    position: absolute;
    top: 20px;
    left: -50px;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }

  .sidebar .toggle-btn span {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--text-color2);
    transform: translateY(-50%);
    transition: 300ms ease-in-out;
  }
  .sidebar .toggle-btn span:nth-child(1) {
    top: 10%;
  }
  .sidebar .toggle-btn span:nth-child(2) {
    top: 50%;
  }
  .sidebar .toggle-btn span:nth-child(3) {
    top: 90%;
  }

  .sidebar .links a {
    display: block;
    padding: 15px 10px;
    text-decoration: none;
    color: #f5f5f5;
    cursor: pointer;
  }

  .sidebar .links a.active,
  .sidebar .links a:hover {
    background-color: #222;
    color: #00acee;
  }
  .sidebar .links a i {
    display: inline-block;
    margin-right: 10px;
  }

  .sidebar.active {
    right: 0px;
  }

  .sidebar.active .toggle-btn span:nth-child(1) {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
  }

  .sidebar.active .toggle-btn span:nth-child(2) {
    display: none;
  }

  .sidebar.active .toggle-btn span:nth-child(3) {
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
  }

  /* Media Quereies */

  @media only screen and (min-width: 769px) {
    .sidebar {
      visibility: hidden;
    }
  }

  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 769px) {
    .mobile {
      visibility: hidden;
    }
  }

  @media only screen and (max-width: 768px) {
    .navbar-list {
      display: none;
    }
    .desktop {
      visibility: hidden;
    }
    .navbar {
      justify-content: flex-start;
      padding: 20px;
    }
    .info p {
      padding: 0 20px;
      font-size: 22px;
    }
    .info a {
      padding: 0 20px;
    }

    .courses-card {
      gap: 5px;
    }
    .card-p {
      margin-bottom: 10px;
    }

    .next,
    .prev {
      display: none;
    }
    .mySlides img {
      margin: 10px 0px;
    }

    .accrodion-container {
      margin: 0;
    }

    .accrodion-title {
      display: flex;
      flex-direction: column;
    }

    .mobile {
      display: flex;
      justify-content: center;
      width: 100%;
      margin: 20px 0 20px 0;
    }
    .mobile a {
      text-decoration: none;
      color: var(--text-color4);
      font-size: 20px;
    }

    .footer-container {
      padding: 20px 20px;
    }
  }
}
